$def with ()
$var jsfiles: managePageCommon.js credentialEdit.js
$var cssfiles:

<div style="display: none;">
    <input id="hidMode" type="hidden" name="hidMode" />
    <input id="hidCurrentEditID" type="hidden" name="hidCurrentEditID" />
    <input id="hidSelectedArray" type="hidden" name="hidSelectedArray" />
    <input id="hidCredentialID" type="hidden" name="hidCredentialID" />
    <input id="hidCredentialType" type="hidden" name="hidCredentialID" />
</div>
<div id="left_panel">
    <div class="left_tooltip">
        <img src="static/images/manage-credentials-192x192.png" alt="" />
        <div id="left_tooltip_box_outer">
            <div id="left_tooltip_box_inner">
                <h2>Shared Credentials</h2>
                <p>
                    The Manage Shared Credentials screen
                    allows administrators to modify, add and delete credentials available throughout the velocity platform.
                </p>
                <p>
                    Select a Credential from the list to modify it.  Using the checkboxes,
                    select one or more Credentials to be deleted.
                </p>
                <p>
                    <i>Credentials in use by Assets cannot be deleted.</i>
                </p>
                <p>
                    <a href="http://docs.cloudsidekick.com/docs/cato/tasks/assets.html#Credentials" target="_blank"><span class="ui-icon ui-icon-info forceinline"></span>Click here</a>
                    for a more detailed introduction to Credentials.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <span id="lblItemsSelected">0</span> Items Selected <span id="clear_selected_btn">&nbsp;</span>
    <span id="item_create_btn">Create</span>
    <span id="item_delete_btn">Delete</span>
    <input type="text" id="txtSearch" class="search_text" />
    <span id="item_search_btn">Search</span>
    <table class="jtable" cellspacing="1" cellpadding="1" width="99%">
        <thead>
            <tr>
                <th class="chkboxcolumn">
                <input type="checkbox" class="chkbox" id="chkAll" />
                </th>
                <th class="sortable"> Credential </th>
                <th class="sortable"> Type </th>
                <th class="sortable"> Description </th>
            </tr>
        </thead>
        <tbody id="credentials"></tbody>
    </table>
    <div id="pager"></div>
</div>
<div id="edit_dialog" class="hidden" title="Create Credential" style="position: relative;">
    <div class="floatleft" style="width: 300px;">
        Name:
        <br />
        <input id="txtCredName" class="usertextbox" name="txtCredName" />
        <br />
        Description:
        <br />
        <textarea id="txtCredDescription" class="usertextbox" cols="20" rows="8" name="txtCredDescription"></textarea>
    </div>
    <div id="edit_dialog_tabs" style=" margin-left: 315px; overflow:hidden;">
        <ul>
            <li>
                <a href="#UserTab"><span>User</span></a>
            </li>
            <li>
                <a href="#KeyTab"><span>Private Key</span></a>
            </li>
        </ul>
        <div id="UserTab">
            <table>
                <tr>
                    <td> Username </td>
                    <td>
                    <input id="txtCredUsername" class="usertextbox" name="txtCredUsername" />
                    </td>
                </tr>
                <tr>
                    <td> Domain </td>
                    <td>
                    <input id="txtCredDomain" class="usertextbox" name="txtCredDomain" />
                    </td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td>
                    <input id="txtCredPassword" type="password" class="usertextbox" name="txtCredPassword" />
                    </td>
                </tr>
                <tr>
                    <td> Password Confirm </td>
                    <td>
                    <input id="txtCredPasswordConfirm" type="password" class="usertextbox" name="txtCredPasswordConfirm" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> &nbsp; </td>
                </tr>
                <tr>
                    <td colspan="2"> Privileged Mode <span id="priv_mode_info" class="ui-icon ui-icon-info forceinline pointer"></span></td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td>
                    <input id="txtPrivilegedPassword" type="password" class="usertextbox" name="txtPrivilegedPassword" />
                    </td>
                </tr>
                <tr>
                    <td> Password Confirm </td>
                    <td>
                    <input id="txtPrivilegedConfirm" type="password" class="usertextbox" name="txtPrivilegedConfirm" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="KeyTab">
            <textarea id="txtPrivateKey" class="usertextbox" style="width: 100%" cols="40" rows="10" name="txtPrivateKey"></textarea>
        </div>
    </div>
</div>
<div id="delete_dialog" class="hidden" title="Delete Credentials">
    Are you sure you want to delete these credentials?
</div>
<div style="display: none;">
    Anything you want to hide goes in here.
</div>
