$def with ()
$var jsfiles: managePageCommon.js deploymentManage.js
$var cssfiles:

<div style="display: none;">
	<input id="hidMode" type="hidden" name="hidMode" />
	<input id="hidCurrentEditID" type="hidden" name="hidCurrentEditID" />
	<input id="hidSelectedArray" type="hidden" name="hidSelectedArray" />
</div>
<div id="left_panel">
	<div class="left_tooltip">
		<img src="static/images/icons/deployments_128.png" alt="" />
		<div id="left_tooltip_box_outer">
			<div id="left_tooltip_box_inner">
				<h2>Deployments</h2>
				<p>
					The Manage Deployments screen allows
					administrators to modify, add and delete Deployments.
				</p>
				<p>
					Select one or more Deployments from the list to the right, using the checkboxes. Select
					an action to modify or delete the Deployments you've selected.
				</p>
				<p>
					Deployments cannot be deleted if they are referenced by any Services.
				</p>
				<p>
					<a href="http://projects.cloudsidekick.com/projects/cato/wiki/Deployments?utm_source=cato_app&amp;utm_medium=helplink&amp;utm_campaign=app" target="_blank"><img src="static/images/icons/info.png" alt="" />Click here</a>
					for a more detailed introduction to Deployments.
				</p>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<span id="lblItemsSelected">0</span> Items Selected <span id="clear_selected_btn">&nbsp;</span><span
	id="item_create_btn">Create</span><span id="item_copy_btn">Copy</span><span id="item_delete_btn">Delete</span>
	<input type="text" id="txtSearch" class="search_text" />
	<span id="item_search_btn">Search</span>
	<table class="jtable" cellspacing="1" cellpadding="1" width="99%">
		<thead>
			<tr>
				<th class="chkboxcolumn">
				<input class="chkbox" type="checkbox" id="chkAll" />
				</th>
				<th class="sortable"> Name </th>
				<th class="sortable"> Status </th>
				<th class="sortable"> Description </th>
			</tr>
		</thead>
		<tbody id="deployments"></tbody>
	</table>
	<div id="pager"></div>
</div>
<div id="edit_dialog" class="hidden" title="New Deployment">
	<table width="100%">
		<tbody>
			<tr>
				<td colspan="2"><span id="lblNewMessage"></span></td>
			</tr>
			<tr>
				<td> Name </td>
				<td>
				<input type="text" id="txtDeploymentName" class="w100pct">
				</td>
			</tr>
			<tr>
				<td> Description </td>
				<td>				<textarea id="txtDeploymentDesc" rows="3" class="w100pct"></textarea></td>
			</tr>
		</tbody>
	</table>
</div>
<div id="delete_dialog" class="hidden" title="Delete Deployments">
	Are you sure you want to delete these Deployments?
</div>
<div id="copy_dialog" class="hidden" title="Copy Deployments">
	<table width="100%">
		<tr>
			<td> New Deployment Name </td>
			<td>
			<input type="text" id="txtCopyDeploymentName" class="w400px" />
			</td>
		</tr>
	</table>
</div>
