<!DOCTYPE html>
<!--
// #########################################################################
// #
// # Copyright 2014 Cloud Sidekick
// # __________________
// #
// #  All Rights Reserved.
// #
// # NOTICE:  All information contained herein is, and remains
// # the property of Cloud Sidekick and its suppliers,
// # if any.  The intellectual and technical concepts contained
// # herein are proprietary to Cloud Sidekick
// # and its suppliers and may be covered by U.S. and Foreign Patents,
// # patents in process, and are protected by trade secret or copyright law.
// # Dissemination of this information or reproduction of this material
// # is strictly forbidden unless prior written permission is obtained
// # from Cloud Sidekick.
// #
// #########################################################################
-->
<html>
    <head>
        <meta charset=utf-8 />
        <title>velocity</title>
        <link type="text/css" href="/static/css/login.css" rel="stylesheet" />
        <link type="text/css" href="/common/css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link rel="icon" href="/static/img/favicon.ico" />
        <script src="/common/vendor/js/jquery/jquery-1.10.2.min.js"></script>
        <script src="/common/vendor/js/jquery/jquery-ui-1.10.3.min.js"></script>
        <script src="/common/vendor/js/jquery/jquery.base64.js"></script>
        <script src="/common/js/url.js"></script>
        <script src="/common/js/alert.js"></script>
        <script src="/common/js/ajaxcore.js"></script>
        <script src="/static/js/ajax.js"></script>
        <script src="/static/js/login.js"></script>
    </head>
    <body>
        <div id="csklogo" class="floatleft pointer" onclick="location.href='/';">
            <span style="font-family: MuseoSlab-Light;">cloud</span><b>sidekick</b>
        </div>
        <div id="wrapper">
            <div id="loginlogo">
                <div style="color: #850C70; text-align: right;"><b>velocity</b></div>
            </div>
            <div id="container">
                <div id="csklogo" class="floatleft pointer" onclick="location.href='/';">
                    <span style="font-family: MuseoSlab-Light;">cloud</span><b>sidekick</b>
                </div>
                <div id="loginpanel">
                    <div id="loginbox">
                        <span id="lblMessage"></span>
                        <div id="pnlLogin" style="">
                            <form id="login_form" method="post" action="/home">
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td> Username: </td>
                                        <td>
                                        <input type="text" id="username" name="username" class="loginfield" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Password: </td>
                                        <td>
                                        <input type="password" id="password" name="password" class="loginfield" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;" colspan="2"><span id="attempt_login_btn">Login</span></td>
                                    </tr>
                                </table>
                            </form>
                            <div>
                                <a id="forgot_password_btn" style="cursor: pointer;">Forgot password? <img src="/common/img/icons/password.png" alt="" style="vertical-align: middle;" /> </a>
                            </div>
                        </div>
                    </div>
                    <div style="font-weight: normal; font-size: 0.9em; margin-top: 10px; text-align: center;">
                        By using Cloud Sidekick, you agree to the <a style="color: #FFFFFF;" target="_blank" href="http://www.cloudsidekick.com/license.html">Terms and Conditions</a>.
                    </div>
                    <div id="app_version" style="font-weight: normal; font-size: 0.9em; margin-top: 10px; text-align: center;"></div>
                </div>
                <div id="loginerror" class="loginerror">
                    <span id="error_msg"></span>
                </div>
                <div class="loginannouncement">
                    <div id="licensepanel" style="display: none;">
                        <div id="licensetext" style="padding-top: 10px;"></div>
                        <center>
                            <input type="button" id="license_agree_btn" value="I Agree" />
                        </center>
                    </div>
                    <span id="announcement"></span>
                </div>
            </div>
        </div>
        <div id="password_change_dialog" title="Change Password" class="hidden ui-state-highlight">
            <span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 10px 0;"></span>
            <span>Please select a new password.</span>
            <table style="width: 100%;">
                <tr>
                    <td> Password: </td>
                    <td>
                    <input type="password" id="new_password" name="new_password" class="changefield" />
                    </td>
                </tr>
                <tr>
                    <td> Confirm: </td>
                    <td>
                    <input type="password" id="new_password_confirm" name="new_password_confirm" class="changefield" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="forgot_password_dialog" title="Forgot Password" class="hidden ui-state-highlight">
            <span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 10px 0;"></span>
            <span>Please answer your security question.</span>
            <table style="width: 100%;">
                <tr>
                    <td> Question: </td>
                    <td><span id="security_question"></span></td>
                </tr>
                <tr>
                    <td> Answer: </td>
                    <td>
                    <input type="password" id="security_answer" name="security_answer" />
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
