# optional packages ...

# optional pysphere package for vmware vsphere support
--allow-external pysphere
--allow-unverified pysphere
pysphere==0.1.8

# optional jenkins package for jenkins integration support
jenkinsapi==0.2.18

# optional vcloudpy package for vmware vCloud support

https://github.com/cloudsidekick/vcloudpy/archive/0.3.tar.gz

# optional pytds, MS SQL Server support

#https://github.com/denisenkom/pytds/archive/master.zip
python-tds==1.7.0

# optional digital ocean cloud support

https://github.com/cloudsidekick/digocn/archive/master.zip
