#jsonformatter, #jsoneditor {
    float: left;
    height: 100%;
    width: 400px;

    padding: 15px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


div.error {
    color: red;
    background-color: #FFC0CB;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

