@import url('fonts.css');
/* Login Page */
body
{
	color: #58595B;
	font-family: 'MuseoSans-Light', Lato, Arial, lucida, sans-serif;
	font-size: 10pt;
}
#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
#csklogo {
	font-size: 24pt;
	color: #58595B;
	position: absolute;
    right: 10px;
    top: 10px;
}
#loginpanel
{
	color: #FFFFFF;
	padding-top: 20px;
	height: 232px;
	background-image: url(../images/login-banner.gif);
	background-repeat: no-repeat;
	background-position: -186px 54%; /* shorten it a bit */
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	border-radius: 6px 6px 6px 6px;
}
#loginbox
{
	padding: 20px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	border-radius: 6px 6px 6px 6px;
}
.loginfield {
	border-radius: 8px;
	border: 1px solid #BCBEC0;
	width: 200px;
	padding: 4px;
	font-size: 1.1em;
}
.loginerror
{
	margin-top: 20px;
	padding: 20px;
	font-weight: normal;
	color: #EE4444;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	border-radius: 6px 6px 6px 6px;
	background-color: #fee;
}
.loginannouncement
{
	margin-top: 20px;
	padding: 5px;
	font-weight: normal;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	border-radius: 6px 6px 6px 6px;
}
.loginannouncement img
{
	vertical-align: middle;
}
.pointer
{
	cursor: pointer;
}
